.page {
  min-inline-size: 320px;
  max-inline-size: 1440px;
  margin: 0 auto;
  background-color: var(--page-background-color);
  background-attachment: fixed;
  font-family: var(--font-family);
}

.header {
  background-image: var(--page-background-image);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  position: relative;
  min-block-size: 668px;
  block-size: 100vb;
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  padding-inline: 10px;
  padding-block-start: 10px;
}

.header__rec {
  position: absolute;
  inset-block-start: 11px;
  inset-inline-end: 20px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 18px;
  line-height: 139%;
  color: var(--accent-color);
}

.header__rec::after {
  content: "";
  display: inline-block;
  margin-inline-start: 11px;
  margin-block-end: 2px;
  inline-size: 9px;
  block-size: 9px;
  border-radius: 50%;
  box-shadow: 0 0 4px 2px var(--accent-color);
  background-color: var(--accent-color);
}

.header__theme-menu {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-block-start: 9px;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 0;
  margin: 0;
  padding-bottom: 15px;
}

.header__theme-menu-item {
  margin: 0;
}

.header__theme-menu-button {
  background: transparent;
  border: 1px solid transparent;
  padding: 0;
  font: inherit;
  cursor: pointer;
  color: var(--buttons-color);
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  text-align: center;
  inline-size: 70px;
  block-size: 26px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}

.header__theme-menu-button_active {
  border: 1px solid var(--buttons-color);
  pointer-events: none;
  cursor: default;
}

.header__theme-menu-button:hover {
  border: 1px solid var(--buttons-color);
}

.header__theme-menu-button:focus-visible {
  outline: none;
  border-block-end: 1px solid var(--buttons-color);
}

.header__title {
  font-family: var(--font-family);
  font-weight: 700;
  color: var(--title-color);
  text-shadow: 4px 3px 0 var(--title-second-color);
  align-self: center;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 83%;
  letter-spacing: 0.5px;
}

.header__description {
  background-color: var(--accent-color);
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 18px;
  line-height: 130%;
  inline-size: 100%;
  max-inline-size: 355px;
  margin-block-end: 15px;
  justify-self: start;
  text-align: left;
  align-self: center;
  display: block;
  white-space: normal;
  word-break: break-word;
  box-sizing: border-box;
  hyphens: none;
}

  .header__description-part {
    display: block;
  }

@media (width <=768px) {
  .header__description {
    justify-self: end;
  }
}

.decorated-zone::before,
.decorated-zone::after {
  content: "";
  position: absolute;
  inline-size: 25px;
  block-size: 25px;
}

.decorated-zone::before {
  inset-block-start: 11px;
  inset-inline-end: 10px;
  border-block-start: 1px solid var(--decoration-color);
  border-inline-end: 1px solid var(--decoration-color);
}

.decorated-zone::after {
  inset-block-end: 11px;
  inset-inline-start: 10px;
  border-block-end: 1px solid var(--decoration-color);
  border-inline-start: 1px solid var(--decoration-color);
}

.content {
  padding-block-start: 40px;
  padding-inline: 10px;
}

.content__section {
  margin-block-end: 50px;
}

.content__section-title {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 18px;
  line-height: 130%;
  color: var(--title-main-color);
}

.content__section-title-pd {
  padding-block-end: 19px;
}

.title-decor {
  background-color: var(--accent-color);
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 18px;
  line-height: 130%;
}

.content__cards {
  display: flex;
  flex-direction: column;
}

.content__card-title {
  margin-block: 20px 10px;
}

.card-title-decor {
  background-color: var(--accent-color);
  font-family: var(--font-family);
  color: var(--text-color);
  font-weight: 400;
  font-size: 18px;
  line-height: 130%;
}

.content__card-text {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 18px;
  line-height: 130%;
  color: var(--text-color);
}

.card-link {
  text-shadow: 2px 2px 0 var(--accent-color);
  text-decoration: none;
}

.card-link:hover {
  border-block-end: 1px solid currentColor;
}

.card-link:focus-visible {
  outline: 1px solid currentColor;
}

.content__section_gallery .gallery {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
  padding-block-start: 10px;
}

.gallery img {
  inline-size: 100%;
  block-size: 100%;
  object-fit: cover;
  object-position: center;
}

.footer {
  position: relative;
  min-block-size: 668px;
  block-size: 100vb;
  display: grid;
  place-items: center;
  margin-block-start: 40px;
}

.footer__title {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 116px;
  line-height: 83%;
  color: var(--title-color);
  text-shadow: 3px 3px 0 var(--accent-color);
  margin-block-end: 15px;
}


@media (width >=768px) {
  .page {
    max-inline-size: 100%;
  }

  .header {
    padding-inline: 20px;
    padding-block-start: 0px;
  }

  .header__rec {
    inset-block-start: 20px;
    inset-inline-end: 30px;
  }

  .header__theme-menu {
    margin-block-start: 190px;
  }

  .header__theme-menu-list {
    align-self: flex-start;
  }

  .header__theme-menu-button {
    inline-size: 70px;
    block-size: 26px;
  }

  .header__title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    text-shadow: 4px 4px 0 var(--accent-color);
    margin-inline-start: -20px;
  }

  .header__description {
    inline-size: 364px;
    max-inline-size: 364px;
    justify-self: end;
    text-align: left;
    margin: 0px 0px 20px;
    align-self: center;
  }

  .decorated-zone::before {
    inset-block-start: 20px;
    inset-inline-end: 20px;
  }

  .decorated-zone::after {
    inset-block-end: 20px;
    inset-inline-start: 20px;
  }

  .content {
    padding-block-start: 60px;
    padding-inline: 20px;
  }

  .content__section {
    margin-bottom: 80px;
  }

  .content__card-title {
    margin-block: 0px 10px;
  }

  .content__section_intro {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 20px;
}

.content__section_intro .content__section-title {
  margin: 0;
  grid-row: 1 / span 2;
}

.content__section_intro .content__cards {
  grid-column: 2;
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-block-end: -20px;
}

.content__section_factors {
  display: grid;
  gap: 20px;
}

.content__section_factors .content__section-title {
  grid-column: 1 / -1;
  inline-size: 30%;
}

.content__section_factors .content__cards {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, auto);
  gap: 20px;
}

/* Для блока с советами */
.content__section_tips {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 20px;
}

.content__section_tips .content__section-title {
  margin: 0;
  grid-row: 1 / span 2;
}

.content__section_tips .content__cards {
  grid-column: 2;
  display: flex;
  flex-direction: column;
  gap: 20px;
}


  .content__section_gallery .content__section-title {
    margin-block-end: 20px;
  }

  .gallery {
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding-block-start: 20px;
  }

  .content__section_gallery .gallery {
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    padding-block-start: 0px;
  }

  .gallery img:nth-child(1) {
    grid-column: 1 / span 2;
    grid-row: 1;
  }

  .gallery img:nth-child(2) {
    grid-column: 3;
    grid-row: 1 / span 2;
  }

  .gallery img:nth-child(3) {
    grid-column: 1;
    grid-row: 2 / span 2;
  }

  .gallery img:nth-child(4) {
    grid-column: 2;
    grid-row: 2;
  }

  .gallery img:nth-child(5) {
    grid-column: 2 / span 2;
    grid-row: 3;
  }

  .gallery img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .footer {
    padding-block-end: 35px;
  }

  .footer.decorated-zone::before {
    inset-block-start: 0;
    inset-inline-end: 20px;
  }

  .footer.decorated-zone::after {
    inset-block-end: 42px;
    inset-inline-start: 20px;
  }
}

@media (width >=1024px) {
  .header__title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .header__description {
    inline-size: 491px;
    max-inline-size: 491px;
    align-self: center;
    margin-block-start: 0;
    margin-block-end: 20px;
  }

  .header__theme-menu {
    justify-content: center;
    margin-block-start: 20px;
  }

  .header__theme-menu-list {
    flex-direction: row;
    gap: 10px;
  }

  .content__section {
    margin-bottom: 40px;
  }

  .content__section_intro {
    margin: 0px;
    gap: 10px;
  }

  .content__section_factors {
    padding-top: 89px;
  }

  .content__section_factors .content__cards {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .content__section_tips {
    column-gap: 11px;
  }

  .content__section_gallery .content__section-title {
    margin-block-start: 80px;
    margin-block-end: 20px;
  }

  .footer {
    padding-block-end: 0px;
    margin-block-start: 60px;
  }

  .footer__title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    margin-block-end: 0px;
  }

  .gallery {
    gap: 25px;
  }

  .footer.decorated-zone::before {
    inset-block-start: 20px;
    inset-inline-end: 20px;
  }

  .footer.decorated-zone::after {
    inset-block-end: 22px;
    inset-inline-start: 20px;
  }
}