:root {
  --page-background-image: url('../images/cover-image-dark.png');
  --page-background-color: #000028;
  --buttons-color: #FF0070;
  --accent-color: #ff0070;
  --text-color: #f1b2ce;
  --title-color: #DB00FF;
  --title-color-cards: #ff0070;
  --title-second-color: #ff0070;
  --title-main-color: #ff0070;
  --decoration-color: #ff0070;
  --menu-buttons-color: #ff0070;
  --menu-buttons-color-muted: rgba(255, 0, 112, 0.4);
  --decoration-color-text: #000028;
  --font-family: "IBM Plex mono", monospace;
}

:root.theme-dark {
  --page-background-image: url('../images/cover-image-dark.png');
  --page-background-color: #000028;
  --buttons-color: #FF0070;
  --accent-color: #ff0070;
  --text-color: #f1b2ce;
  --title-color: #DB00FF;
  --title-color-cards: #ff0070;
  --title-second-color: #ff0070;
  --title-main-color: #ff0070;
  --decoration-color: #ff0070;
  --menu-buttons-color: #ff0070;
  --menu-buttons-color-muted: rgba(255, 0, 112, 0.4);
  --decoration-color-text: #000028;
  
}