:root {
  --page-background-image: url('../images/cover-image-dark.png');
  --page-background-color: #000028;

  --accent-color: #ff0070;
  --text-color: #f1b2ce;
  --title-color: #db00ff;
  --title-main-color: #ff0070;
  --decoration-color: #ff0070;
  --menu-buttons-color: #ff0070;

  --font-family: "IBM Plex mono", monospace;
}

:root.theme-dark {
  --page-background-image: url('../images/cover-image-dark.png');
}